* {
    font-family: Arial, sans-serif;
    line-height: 1.7rem;
    box-sizing: border-box;
}

.navbar { /* containers */
    padding: 0 3vw;
    align-items: center;
    background-color: #ddd;
    width: 100%;
    height: 70px;
    top: 0px;
    position: sticky;
    scroll-snap-type: y mandatory;
}
.dropdown { /* navbar container for subpages icons, symbols replacing the javascript dropdowns */
    float: right;
    padding: 0;
}

.navbar a {
  float: left;
  margin: 6px;
  padding: 10px 15px 5px;
  border-radius: 40% 0%;

}
.navbar img {
   height: 36px; width: auto;
   filter:opacity(50%);
}
.navbar a:hover, a:active {
    background-color: #ccc;
    box-shadow: 5px 5px 2px #bbb;
}
.navbar img:hover, img:active {
  filter: invert(100%);
}
#greyed-out {
    background-color: #86857f;
    box-shadow: 5px 5px 2px #bbb;
}
#greyed-out img { /*icon for active page */
    filter: invert(100%);
}

footer {
    width: 100%;
    background-color: #ddd;
    text-align: center;
    padding: 8px 30px;
}

#submenu  { /* container for subpages titles and in-page navigation to level 2 headings */
    padding: 5.7vw 0;
    height: 12rem;
    text-align: center;
    font-weight: 600;
    background: linear-gradient(180deg, #86857f 0%, #706860 30%,  #706860 60%, rgba(170, 150, 100, 0) 100%);
}

.sky {/* area above banner image, holds an extra icon */
    height: 9vw;
    text-align: left;
    padding-top: 6vw;
    margin-left: 34.5vw;
    font-size: 32px;
}
.sky a:hover {
    background-color: rgba(100,100,100,0.3);
    padding: 5px;
    border-radius: 40% 0%;
}
.sky img{
    height: 36px; width: auto;
    filter: opacity(50%);
}
.sky img:hover {
    filter: invert(100%);
}

.banner { /*banner images (img sizes: 1200*132px and 1200*64px) **/
    width: 100vw; height: auto;
    display:block;
    margin: 0;
    padding: 0;
    animation: "fade-in" 1s;
}

@keyframes fade-in { /* banner on homepage fades in from outline to details */
    0%  {
        filter: contrast(0.2);
        -webkit-filter: contrast(0.2);
    }
    100%   {
        filter: contrast(1);
        -webkit-filter: contrast(1);
    }
}

.subnavs {
    display: flex;
    margin: 0 15vw;
    justify-content: center;
}
.subnavs div {
    margin: 6px 5%;
}
.subnavs a {
  text-transform:uppercase;
  font-weight: 700;
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 40% 0%;
  background-color: #86857f;
  box-shadow: 5px 5px 2px #ba9;
  color: white;

}
.subnavs a:hover, a:active {
  background-color: white;
  box-shadow: 5px 5px 2px #cba;
  color: #444;
}

/* table style for annual reports stats */
.tablecontainer {
    overflow-x: auto;
    width: 70vw;
    margin: 0 auto;
}
table {
  width: 100%;
  height: auto;
  border: #ddd 1px;
  border-collapse: collapse;
  font-size: 1rem;
  text-align:  center;
}
tr:nth-child(even){background-color: rgba(221,221,221,0.4);}
th, td {
  padding: 5px;
  font-size: 0.87rem;
  line-height: 1.1;
}
th {
  background-color: #ddd;
  vertical-align: text-top;
}
.table-lefthead {
    text-align: left;
}

/* styles for full-width images and flexbox images */
.container {
  display: flex;
  justify-content: space-between;
  padding: 0 15vw;
}
.container div {
  margin: 0 0 12px 0;
}
/* Images with standardized height, for use in flexbox side-by-side, three images max: */
.imgs-flex {
    height: 25vw; width: auto; display:block; margin: auto;
/* Centered images, standardized widths (as opposed to fixed number of pixels): */
}
.center-smaller {
    width: 50vw; height: auto; display:block; margin: auto;
}
.center {
    width: 70vw; height: auto;  display:block; margin: auto;
}
.legend-centered, .legend-left {
    color: black;
    line-height: 1.3;
    margin: 0;
    padding: 3px 18px;
}
.legend-centered { /* legends below images */
    text-align: center;
}
.legend-left { /* paragraphs side-by-side */
    text-align: left;
}

@media (max-width: 800px) {
    body p, body ul, body h3, body h5 {padding: 0 5vw;}
    body p.warning {margin: 5vw;}
    .navbar {padding: 0;}
    .container {flex-direction: column; padding: 0 3vw;}
    #submenu {height: 10rem;}
    .subnavs {width: 100%; margin:0;}
    .subnavs div {margin: 0 5%;}
    .imgs-flex {width: 70vw; height: auto;}
    .center, .center-smaller, .tablecontainer {width: 90vw; height: auto;}
    .sky {height:15vw; padding-top: 10vw;}
    .sky img, .navbar img {width:30px; height: auto;}
}

@media (max-width: 550px) {
    .AGAS-full {display: none !important;} /*works*/
    .AGAS-short {display: inline-block !important;} 
    .subnavs {font-size: 0.9rem;}
    #submenu {height: 8rem;}
    body p, body ul, body h3, body h5 {padding: 0 3vw;}
    body p.warning {margin: 3vw;}
    body h1 {font-size: 2rem;}
}

body {
    background-color: #FEE6CC;
    margin: 0;
    text-align: left;
}

p, ul, h5 {
    padding: 0 15vw;
    font-size: 1.125rem;
    color: #444;
}

ul {
    list-style: square inside url("assets/bullet.png");
}

li {
    margin: 10px 0;
}

.homepage-title {
    background: linear-gradient(180deg, #86857f 0%, #706860 50%, rgba(170, 150, 100, 0) 100%);
}

/* welcome heart and links to different languages */
.centerblock {
  margin: 8px auto;
  width: 240px;
  height: 200px;
  text-align: center;
  padding: 12px 0;
  background-size: 100% 100%;
}

#fr.centerblock {
    background-image: url('assets/welcome-heart-fr.webp');
}
#de.centerblock {
    background-image: url('assets/welcome-heart-de.webp');
}
#es.centerblock {
    background-image: url('assets/welcome-heart-es.webp');
}
#en.centerblock {
    background-image: url('assets/welcome-heart-en.webp');
}

.centerblock a {
    text-decoration: none;
    background: linear-gradient(90deg, rgba(255, 250, 245, 0.5) 0%, white 30%,  white 70%, rgba(255, 250, 245, 0.5) 100%);
    line-height: 2;
    padding: 2px 5px;
    border-radius: 40% 0%;
    font-weight: 700;
}
.centerblock a:hover, a:active {
    font-size:1.5rem;
    background-color: white;
    box-shadow: 2px 2px 5px #987;
}

a {
    color: black;
    text-decoration: underline #444 1px;
}
a:hover, a:active {
    background-color: white;
    font-size: inherit;
}
#disclaimer a, #aviso-legal a, #haftungsausschluss a {text-decoration: none;}

.posts { /* subordinate pages, e.g. reports, statutes, contact page, mentions legales, disclaimer.... */
    background-color: white;
}

/* styles for content read in from Google Sheets via JSON feed (see script) */
#cards {
    margin: 0;
}
.card p {
    margin: 0 5px 18px 5px;
}

h1 {
    color: white;
    text-shadow: 2px 2px #86857f;
    line-height: 1.2;
    padding-bottom: 12px;
    margin: 0;
    font-size: 3rem;
    font-weight: 900;
    width: 100%;
    text-align:center;
}

.posts h1 { /* headings in subordinate pages, e.g. annual reports */
    color: #444;
    text-shadow: none;
}


h2 {/* page subsection */
    color: black;
    text-align: center;
    line-height: 1.2;
    font-size: 1.5rem;
    padding: 12px 15vw 0;
    scroll-margin-top: 70px;
}
h2 img {height:18px; width:auto;}

h3 {/* catch-eye heading */
    color: #444;
    font-size: 1.25rem;
    line-height: 1.5;
    padding: 0 15vw;
    margin: 30px 0 10px 0;
    text-decoration: overline white 9px;
}


h4 {/* Centered bold para, e.g. for images with a fixed width */
    text-align: center;
}

h5 {/* Bold left-aligned text, for page intros and minor subheadings */
    font-weight: 700;
    font-size: 1.125rem;
    text-align: left;
        scroll-margin-top: 70px;
}
h5 img {height:18px; width:auto}

.AGAS-short, .AGAS-full { /* full name of AGAS in the navbar */
    font-weight: 900;
    font-size: 1rem;
    position:relative;
    top: 25px;
    background-color: none;
}

.AGAS-full {display: inline-block;}
.AGAS-short {display: none;}

#fr {
    background-color: #FEE6CC;
}
#en {
    background-color: #e0fae0;
}
#es {
    background-color: lightgoldenrodyellow;
}
#de {
    background-color: #e6f2ff;
}

p.warning {
    background-color: white;
    border-color:  #86857f;
    border-style: solid;
    border-width: 0 0 0 10px;
    margin: 30px 15vw;
    padding: 30px 10px;
}

p.decline {
    background-color: white;
    border-color:  #b30000;
    border-style: solid;
    border-width: 0 0 0 6px;
    margin: 20px 15vw;
    padding: 15px 10px;
}
.rollout-bar { /* for "Please wait" bar in javascript (JSON feed) */
    margin: 0 15vw;
    background-color: rgba(255,255,255,0.8);
    color: white;
    animation: rollout 5s;
}
@keyframes rollout { /* for "Please wait" bar in javascript (JSON feed) */
  from {width: 50px;}
  to {width: 200px;}
}
/*experimental animated highlight*/
@keyframes fade-in-bg {
from {background: #ddd;}
to {background: white;}
}
.marked {
animation-trigger: --trigger play-forwards;
animation: fade-in-bg 1s forwards;
timeline-trigger: --trigger view() entry 100% exit 0%;
}