* {
    font-family: Arial, sans-serif;
    line-height: 1.7rem;
    box-sizing: border-box;
}

#navbar {
    padding: 0; 
    background-color: #e6e6e6;
    text-transform:uppercase;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    position: sticky;
    top: 0;
    height: 50px;
} 

#navbar a {
  color: #444;
  float: left;
  text-align: left;
  line-height: normal;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar a:hover, .dropdown a:hover {
 background-color: #eee;
  color:#0abcdb;
}

.dropdown {
    float: right;
    padding: 0;
}

#submenu  {
    background-color: #86857f;
    display:block;
    padding: 8px 0;
    height: 130px;
    text-align: center;
    font-weight: 900;
    position: sticky;
    top: 50px;
    scroll-snap-type: y mandatory;
}

.subnavs a:link, a:visited {
  text-transform:uppercase;
  color: white;
  line-height: normal;
  padding: 14px 16px;
  text-decoration: none;
}

.subnavs a:hover {
    background-color:#999999;
    color:black;
}

.container {
  display: flex;
  padding: 0 15vw;
}


@media (max-width: 600px) {
    .container {flex-direction: column;}
  }


body {
    margin: 0;
    background-color: #fde5cb;
    text-align: left;
}


p, ul {
    padding: 0 15vw;
    font-size: 18px;
    color: #444;
}

/* Style for additional hikes details */

#cards {
    border: 1px solid #fde5cb;
    border-left-width: 0.3125rem;
    border-radius: 0.3125rem 0.1875rem 0.1875rem 0.3125rem;
    border-left-color: #fff;
    padding: 0rem 0.9375rem 0rem 0.625rem;
    margin: 0 1.25rem 0 0.3125rem;
}

.card p {
    margin: 0 5px 18px 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#nav-2 a {
    color: white;
}

#top a {
    color: #0b879c;
    text-decoration: none;
}
#top a:hover {
    color: #0abcdb;
    background-color: #fdfdfd;
}

#bot a {
color: #444;
text-decoration: none;
}
#bot a:hover {
    color: #0b879c;
}

h1 {
    color: white;
    background-color: #86857f;
    padding:2vw;
    margin: 0;
    font-weight: 900;
    text-shadow: 3px 3px black;
    font-size: 3rem;
    text-align:center;
}

h1 a {
   color: white; 
   text-decoration: none;
}

h1 a:hover {
    background-color: #999999;
}


h2 {
    color: #414141;
    line-height: 1.5;
    text-align: center;
    font-size: 28px;
    padding: 0 15vw;
    scroll-margin-top: 200px;
}

h3 {
    color: #414141;
    font-size: 28px;
    line-height: 1.5;
    padding: 0 15vw;
    border-width: 0 0 0 10px;
    margin: 30px 0 10px 0;
    text-decoration: overline #fdfdfd;
    text-decoration-thickness: 9px;
}

h4 {
    font-size: 2vw;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 10px white;
}


.legend {
    color: black;
    text-align: center;
    margin: 0 5px;
    padding-bottom: 3vw;
}

p.sub {
    margin: 0 0 10px 3vw;
}

p.warning {
    background-color: #fdfdfd;
    border-color:  gold;
    border-style: solid;
    border-width: 0 0 0 10px;
    margin: 30px 15vw ;
    padding: 30px 10px;
    font-family:'Courier New', Courier, monospace;
}

p.decline {
    background-color: #fdfdfd;
    border-color:  crimson;
    border-style: solid;
    border-width: 0 0 0 6px;
    margin: 20px 25vw;
    padding: 15px 10px;
    font-family: 'Courier New', Courier, monospace;
}


footer {
    width: 100%;
    background-color: rgb(230, 230, 230);
    text-align: center;
    padding: 8px 30px;
}
