* {
    box-sizing: border-box;
}
/*----------------------------------------
DARK THEME
/*----------------------------------------*/
:root {
    --navbar-color: #ddd;
    --bg-color: #fee6cc; 
    --sky-color: #fde6cc; /*matches top of AGAS-banner images (main and sub) */
    --lake-color: #ba9; /*same or a bit darker than lake on AGAS-banner (main) image */
    --mountain-color: #818382; /*matches bottom of AGAS-banner-sub image */
    --text-color: #444;
    --link-color: black;
    --hover-color: white;
    --hover-col-trsp: rgba(255, 255, 255, 0.5);
    --accent-color: #ff8866;
    --hue: -50deg;
}
body.dark-mode {
    --bg-color: #303030;
    --navbar-color: #9191a8;
    --text-color: #fdfdfd;
    --link-color: white;
    --hover-color: black;
    --hover-col-trsp: rgba(0, 0, 0, 0.5);
    --sky-color: #999; /*matches top of both AGAS-banner-*dark.* images */
    --lake-color: #777; /*same or a bit darker than lake on AGAS-banner-dark.* image */
    --mountain-color: #404040; /*matches bottom of AGAS-banner-sub-dark.* image */
    --accent-color: #8e7aff;
    --hue: 190deg;

}
body.dark-mode > .banner {
    background-image: url('assets/img/AGAS-banner-dark.webp');
}
body.dark-mode > .banner-sub {
    background-image: url('assets/img/AGAS-banner-dark-sub.webp');
}
body.dark-mode > .back-to-top img {filter: invert(100%);}

/*----------------------------------------
STICKY ICONS
/*----------------------------------------*/

.switcher, .back-to-top {
    position: fixed;
    top: 64px; /* height of navbar */
    right: calc(3vw + 15px); /* navbar margin + navbar img margin */
    height: 30px; width: 30px;
    border-radius: 50%;
    background-color: var(--hover-color);
}
.switcher img, .back-to-top img {height: 30px; width: 30px;}
.switcher {margin-top: 15px;}
.switcher-navbar {margin-top: 15px; height: 30px; background-color: var(--hover-color); float: right; border-radius: 50%;}
.back-to-top {margin-top: calc(100vh - 100px);}

@media print {
    .switcher {display: none;}
    .back-to-top {display: none;}
}
/*----------------------------------------
NAVIGATION
/*----------------------------------------*/
.navbar { /* container */
    padding: 0 3vw;
    align-items: center;
    background-color: var(--navbar-color);
    color: var(--link-color);
    width: 100%;
    height: 64px;
    top: 0px;
    position: sticky;
    scroll-snap-type: y mandatory;
    z-index: 1;
}
.navbar img {
   height: 30px; width: 30px; border-radius: 50%;
}
.navbar-right { /* navbar container for subpages icons, aligned right in navbar */
    float: right;
}
.navbar a {
    float: left;
    margin: 15px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
}
.navbar a:hover, a:active {
    background-color: white;
}
#active-page {
    background-color: var(--accent-color);
}

.AGAS-short, .AGAS-full { /* full name or abbrev of AGAS in the navbar, responsive to viewport width */
    font-weight: 900;
    font-size: 1rem;
    position:relative;
    top: 25px;
    background-color: none;
}
.AGAS-full {display: inline-block;}
.AGAS-short {display: none;}

#submenu  { /* container holding subpages titles (Le Salève, Qui nous sommes) and subnavs to level 2 headings */
    padding: 3vw 50px;
    height: 12rem;
    text-align: center;
    font-weight: 600;
    background: linear-gradient(180deg, var(--mountain-color) 10%,  var(--bg-color) 100%);
}
.subnavs {
    display: flex;
    margin: 3vw 15vw;
    justify-content: center;
}
.subnavs div {
    margin: 6px 5%;
}
.subnavs a {
  text-transform:uppercase;
  font-weight: 700;
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 40% 0%;
  background-color: #555;
  color: white;
}
.subnavs a:hover, a:active {
  background-color: white;
  box-shadow: 5px 5px 2px var(--accent-color);
  color: #444;
}
/*----------------------------------------
AREA ABOVE BANNER, WITH EXTRA ICONS
/*----------------------------------------*/
.sky { /* area above banner image, saves on image size and holds extra iconS */
    height: 3vw; 
    margin: 0;
    padding-top: 3vw;
    padding-left: calc(3vw + 15px);
    padding-right: 3vw;
    background: linear-gradient(180deg, var(--navbar-color) 0%, var(--sky-color) 100%); 
    /*can start gradient with navbar colour to fade the navbar into the "sky"  */
}
.sky img {
    height: 30px; width: 30px;
    filter: hue-rotate(var(--hue)) drop-shadow(-2px -2px var(--hover-color)) drop-shadow(-1px -1px 5px var(--hover-color));
}
.sky a {
    border-radius: 50%;
}
.sky a:hover, a:active {background-color: rgba(255, 255, 255, 0.8);}
/*----------------------------------------
BANNERS
/*----------------------------------------*/
.banner { /*banner  (img sizes: 1291*200 > 1000*155px, ratio = 100 : 15.5  **/
    width: 100vw; height: 15.5vw;
    display:block;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-image: url('assets/img/AGAS-banner.webp');
}
.banner-sub { /*img size: 1291*94px > 1000*73px ratio = 100 : 7.3 **/
    width: 100vw; height: 7.3vw;
    display:block;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-image: url('assets/img/AGAS-banner-sub.webp');
}
/*----------------------------------------
TABLES
/*----------------------------------------*/
/* table style for annual reports stats */
.tablecontainer {
    overflow-x: auto;
    width: 70vw;
    margin: 0 auto;
}
table {
  width: 100%;
  height: auto;
  border: #ddd 1px;
  border-collapse: collapse;
  font-size: 1rem;
  color: #444;
  text-align:  center;
}
tr:nth-child(even){background-color: rgba(221,221,221,0.4);}
th, td {
  padding: 5px;
  font-size: 0.87rem;
  line-height: 1.1;
}
th {
  background-color: #ddd;
  vertical-align: text-top;
}
.table-lefthead {
    text-align: left;
}
/*----------------------------------------
IMAGE FLEXBOXES AND LEGENDS
/*----------------------------------------*/
/* styles for full-width images and flexbox images */
.container {
  display: flex;
  justify-content: space-between;
  padding: 0 15vw;
}
.container div {
  margin: 0 0 12px 0;
}
/* Images with standardized height, for use in flexbox side-by-side, three images max: */
.imgs-flex {
    height: 25vw; width: auto; display:block; margin: auto;
/* Centered images, standardized widths (as opposed to fixed number of pixels): */
}
.center-smaller {
    width: 50vw; height: auto; display:block; margin: auto;
}
.center-smallest {
    width: 25vw; height: auto; display:block; margin: auto;
}
.center {
    width: 70vw; height: auto;  display:block; margin: auto;
}
.legend-centered, .legend-left {
    color: var(--text-color);
    line-height: 1.3;
    margin: 0;
    padding: 3px 18px;
}
.legend-centered { /* legends below images */
    text-align: center;
}
.legend-left { /* paragraphs side-by-side */
    text-align: left;
}
/*----------------------------------------
RESPONSIVE DESIGN
/*----------------------------------------*/
@media (max-width: 800px) {
    body p, body ul, body h3, body h5 {padding: 0 5vw;}
    body p.warning {margin: 5vw;}
    .navbar {padding: 0;}
    .switcher {right: 15px;}
    .back-to-top {right: 15px;}
    .container {flex-direction: column; padding: 0 3vw;}
    #submenu {height: 10rem;}
    .subnavs {width: 100%; margin:0;}
    .subnavs div {margin: 0 5%;}
    .imgs-flex {width: 70vw; height: auto;}
    .center, .center-smaller, .tablecontainer {width: 90vw; height: auto;}
    .sky {height:10vw; padding-top: 8vw; padding-left: 15px;}
    body > .centerblock {width: 160px; height: 133px;}
}
@media (max-width: 570px) {
    .AGAS-full {display: none !important;} /*works*/
    .AGAS-short {display: inline-block !important;} 
    .subnavs {font-size: 0.9rem;}
    #submenu {height: 8rem;}
    body p, body ul, body h2,body h3, body h5 {padding: 0 3vw;}
    body p.warning {margin: 3vw;}
    body h1 {font-size: 2rem;}
}
/*----------------------------------------
BODY, TEXT STYLES
/*----------------------------------------*/
body {
    font-family: Arial, sans-serif;
    line-height: 1.7rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    text-align: left;
    transition: background-color 0.3s ease, color 0.3s ease;
}
p, ul, h5 {
    padding: 0 15vw;
    font-size: 1.125rem;
    color: var(--text-color);
}
ul {
    list-style: square inside;
}
ul li::marker {
    font-size: 150%;
    content: "✦ ";
    color: var(--accent-color);
}
li {
    margin: 10px 0;
}
mark { /*MARKER-STYLE HIGHLIGHTS IN PAGE INTRO TEXTS */
  margin: 0;
  padding: 0em 0.3em;
  border-radius: 0.8em 0.3em;
  background: var(--accent-color);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.5) 5%,
    rgba(255, 255, 255, 0.5)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
mark a {
    color: black;
}
mark a:hover {
    color: var(--link-color);
}
p.warning { /* message "you need to be in good shape and wear proper shoes..." */
    background-color: white;
    color: #444;
    border-style: solid;
    border-color: var(--accent-color);
    border-width: 0 0 0 10px;
    margin: 30px 15vw;
    padding: 30px 10px;
}
/*----------------------------------------
General-style links in body text
/*----------------------------------------*/
a {
    color: var(--link-color);
    text-decoration: underline 2px var(--accent-color);
}
a:hover, a:active {
    background-color: var(--hover-color);
    font-size: inherit;
}
#disclaimer a, #aviso-legal a, #haftungsausschluss a {text-decoration: none;}
/*----------------------------------------
WELCOME HEART
/*----------------------------------------*/
/* heart background image and links to different languages */
.centerblock {
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 20vw;
  height: 17vw; /* image ratio: 233px height / 280px width = 0.83 * 20 = 16.6 vw */
  padding: 4vw 0 0;
  background-size: 100% 100%;
  border-radius: 30%;
  background-image: url('assets/img/welcome-heart-es.webp');
  filter: hue-rotate(var(--hue));
}
.centerblock a {
    padding: 4px;
    line-height: 3vw;
    text-decoration: none;
    border-radius: 40% 0%;
    font-weight: 700;
    background: linear-gradient(90deg, var(--hover-col-trsp) 0%, var(--hover-color) 50%,  var(--hover-col-trsp) 100%);
}
.centerblock a:hover {
    box-shadow: 3px 3px 5px var(--link-color);
}

/*----------------------------------------
JSON FEED, ALTERNATIVE HIKES
/*----------------------------------------*/
/* styles for content read in from Google Sheets via JSON feed (see script) */
#cards {
    margin: 0;
}
.card p {
    margin: 0 5px 18px 5px;
}
.rollout-bar { /* for "Please wait" bar in javascript (JSON feed) */
    margin: 0 15vw;
    background-color: rgba(255,255,255,0.8);
    color: white;
    animation: rollout 5s;
}
@keyframes rollout { /* for "Please wait" bar in javascript (JSON feed) */
  from {width: 50px;}
  to {width: 200px;}
}
/*----------------------------------------
HEADINGS
/*----------------------------------------*/
h1 {
    color: white;
    text-shadow: 3px 3px #303030;
    line-height: 1.2;
    padding: 0 0 12px 0;
    margin: 0;
    font-size: 3rem;
    font-weight: 900;
    width: 100%;
    text-align: center;
}
.posts h1 { /* headings in subordinate pages, e.g. annual reports */
    color: var(--text-color);
    text-shadow: none;
    padding: 24px 0;
}
.homepage-title {
    background: linear-gradient(180deg, var(--lake-color) 0%, var(--bg-color) 100%);
    padding-bottom: 3vw;
}
h2 {/* page subsection */
    color: var(--link-color);
    text-align: center;
    line-height: 1.2;
    font-size: 1.7rem;
    font-weight: 700;
    padding: 12px 15vw 0;
    scroll-margin-top: 70px;
}
h2 img {height:24px; width:auto;} /* for "Back" or "Top" icons on long pages*/

h3 {/* catch-eye heading */
    color: var(--text-color);
    font-size: 1.25rem;
    line-height: 1.5;
    padding: 0 15vw;
    margin: 30px 0 10px 0;
    text-decoration: overline var(--accent-color) 6px;
}
h4 {/* Centered bold para, e.g. for images with a fixed width */
    text-align: center;
    color: var(--text-color);
}
h5 {/* Bold left-aligned text, for page intros and minor subheadings */
    font-weight: 700;
    font-size: 1.125rem;
    text-align: left;
    scroll-margin-top: 70px;
}
h5 img {height:18px; width:auto}
/*----------------------------------------
FOOTER
/*----------------------------------------*/
footer {
    width: 100%;
    background-color: var(--navbar-color);
    text-align: center;
    padding: 8px 30px;
}
p.decline {
    background-color: white;
    color: #444;
    border-color:  var(--accent-color);
    border-style: solid;
    border-width: 0 0 0 6px;
    margin: 20px 15vw;
    padding: 15px 10px;
}
.decline a {
    color: #444;
}
.decline a:hover, a:active {
    background-color: white;
}


